/* 메인 배너 */
.hero{
    min-height: 700px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 50px;
}

/* 왼쪽 영역 */
.hero-text{
    flex: 1;
}

.hero-text h1{
    font-size: 70px;
    line-height: 1.4;

    margin-bottom: 25px;
}

.hero-text span{
    color: #b16cff;
}

.hero-text p{
    font-size: 22px;
    color: #9ca3af;

    margin-bottom: 40px;
}

/* 버튼 */
.hero-buttons{
    display: flex;
    gap: 20px;
}

/* 오른쪽 이미지 */
.hero-image{
    flex: 1;
    text-align: center;
}

.hero-image img{
    width: 100%;
    max-width: 600px;
}

/* 고민 카드 */
.post-card{
    margin-bottom: 25px;
}

.category{
    display: inline-block;

    padding: 8px 16px;

    border-radius: 10px;

    margin-bottom: 15px;
}

.study{
    background: rgba(139,92,246,0.2);
    color: #c084fc;
}

.friend{
    background: rgba(34,197,94,0.2);
    color: #4ade80;
}

.future{
    background: rgba(59,130,246,0.2);
    color: #60a5fa;
}

.post-title{
    font-size: 28px;
    margin-bottom: 15px;
}

.post-content{
    color: #9ca3af;
    line-height: 1.8;
}

.post-info{
    display: flex;
    justify-content: flex-end;

    gap: 20px;

    margin-top: 20px;

    color: #b16cff;
}

/* 통계 카드 */
.stat-card{
    text-align: center;
}

.stat-card h2{
    font-size: 60px;

    color: #b16cff;

    margin-bottom: 10px;
}

.stat-card p{
    color: #9ca3af;
}
